*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-size:25px;
}
img,
iframe {
	max-width: 100%;
	height: auto;
	border: 0;
}
body {
	font-family: 'Pangolin', cursive;	
}
body {
	background-color: darkred;
	color: white;
}


header, footer, h1, h2, blockquote {
	text-align: center;
}

h1 {
	font-size: 80px;
	font-family: gill sans;
	color: darkred;
	-webkit-text-stroke: 2px white;
	
}

h2 {
	font-size: 45px;
	font-family: gill sans;
	color: red;
	-webkit-text-stroke: 1px white;
	
}

h1,h2,p,li {
	padding-bottom: 0.5em;
}
p {
	color: white;
	text-align:center;
}


.item {
background-color: rgba(138,15,0,0.7);
padding: 1%;
margin: 5%;
margin-bottom: 20px;
margin-top: 10px;
border-radius: 10px;
}

body {
background-color: black;
background-image: url(BG.jpg); 
background-repeat: no-repeat; 
background-size: cover;
}
main {max-width: 1000px;
	  margin-left: auto;
	  margin-right: auto;
      /* always use max width where ever possible */
}






.item li { margin-left: 25px;
	/*makes the list fit in the box */
}


blockquote {
	text-transform: lowercase;
	font-style: italic;
}





nav {
	text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
	background: darkred;
	color: white;
	padding: 5px;
	text-decoration: none;
	border-radius: 5px;
	}
nav a:hover {
	background: red;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
	color: #757575;
}

input[type=submit] {
	width:100%;
	background-color: orangered;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: red;	
}

div {
	border-radius: 5px;
	backround-color: darkred;
	padding: 20px;
}

/* screen size responsive */
@media screen and (min-width: 500px){
body {
   background-color: orange;
   font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

h2{font-family: Gill Sans, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif", regular;
}


@media screen and (min-width: 768px){	
body {
      background-image: url("BG.jpg"); 
      background-repeat:no-repeat;
      background-size: cover;
}
	
	
	
	footer {
		color: darkred;
		clear: both;
	}
	}
}

